# Node
node_modules/
/package-lock.json  # ← Ajouter "/" pour ignorer seulement à la racine

# Build
dist/

# Logs
*.log

# Environment variables
.env

# Agent files
.agentree

# Claude code
.claude